.nav-link {
  padding: 10px 20px;
  background-color: #007bff; /* Button color */
  color: #fff; /* Text color */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth color transition */
}

.nav-link:hover {
  background-color: #0056b3; /* Hover color */
}

.link {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}
